* {
	font-family: BundesSans Web;
	hyphens: auto;
	word-break: break-word;
}

:root {
	font-size: 16px;
}

.slidev-vclick-target {
	transition: all 1000ms ease 50ms;
}

.slidev-layout h1 {
	margin-bottom: 1em;
}

.slidev-layout h1 + p {
	opacity: 1;
}

small.underline {
	color: #666;
	display: block;
	margin-top: -3em;
	font-family: monospace;
	font-size: 0.75em;
	font-style: italic;
	text-decoration: none !important;
}
small.underline::before {
	content: '// ';
}

div.styling {
	border: 1px dashed grey;
	padding: 0.25em;
}
div.styling button {
	background-color: rgb(235, 57, 188);
	border: 3px solid rgb(105, 5, 77);
	border-radius: 0.5em;
	color: rgb(19, 215, 74);
	font-family: monospace;
	font-weight: 700;
	padding: 0.5em;
	transform: scale(-1, 1);
}
